<ion-header>
  <ion-toolbar>
    <ion-title>Location List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let location of locations">
      <ion-item-sliding>
        <ion-item>
          ID: {{location.id}}
          <br/>
          Timestamp: {{location.geoTimestamp}}
          <br/>
          Raw Timestamp: {{location.rawTimestamp}}
          <br/>
          Latitude: {{location.latitude}}, Longitude: {{location.longitude}}
        </ion-item>
        <!-- Slide Ion-Item Left to Show Delete Button-->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteLocation(location.id)">
            Delete
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>

</ion-content>
