<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Labtest2_ChiCalvinNguyen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" #map></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" *ngIf="!isTracking" (click)="trackPosition();">Track Position</ion-button>
        <ion-button expand="full" *ngIf="isTracking" (click)="trackPosition()">Stop Tracking</ion-button>
      </ion-col>
  </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button expand="full" routerLink="/list">Show List</ion-button>
  </ion-toolbar>
</ion-footer>
